# running from inetd
# Port 2200

#ESXI-65-000011
Protocol 2

HostKey /etc/ssh/ssh_host_rsa_key

UsePrivilegeSeparation no

# OpenSSH 7.8 switched to af21/cs1, which has been observed to cause
# connection drops. Override to earlier values.
IPQoS lowdelay throughput

# vPP FCS_SSH_EXT.1.7: rekey after 1GB, 1H (instead of default 4GB for AES)
RekeyLimit 1G, 1H

SyslogFacility auth
LogLevel info

PermitRootLogin yes

PrintMotd yes
PrintLastLog no

TCPKeepAlive yes


#Ciphers aes128-ctr,aes192-ctr,aes256-ctr,3des-cbc
Ciphers aes128-ctr,aes192-ctr,aes256-ctr

#ESXI-65-000017
#MACs hmac-sha2-256,hmac-sha2-512,hmac-sha1
MACs hmac-sha1,hmac-sha2-256,hmac-sha2-512



UsePAM yes
# only use PAM challenge-response (keyboard-interactive)
PasswordAuthentication no

#ESXI-65-000009
Banner /etc/issue

Subsystem sftp /usr/lib/vmware/openssh/bin/sftp-server -f LOCAL5 -l INFO

AuthorizedKeysFile /etc/ssh/keys-%u/authorized_keys

# Timeout value of 10 mins. The default value of ClientAliveCountMax is 3.
# Hence, we get a  3 * 200 = 600 seconds timeout if the client has been
# unresponsive.
ClientAliveInterval 200

# sshd(8) will refuse connection attempts with a probability of “rate/100”
# (30%) if there are currently “start” (10) unauthenticated connections.  The
# probability increases linearly and all connection attempts are refused if the
# number of unauthenticated connections reaches “full” (100)
MaxStartups 10:30:100

#ESXI-65-000012
IgnoreRhosts yes

#ESXI-65-000013
HostbasedAuthentication no

#ESXI-65-000015
PermitEmptyPasswords no

#ESXI-65-000016
PermitUserEnvironment no

#ESXI-65-000020
StrictModes yes

#ESXI-65-000021
Compression no

#ESXI-65-000023
X11Forwarding no

#ESXI-65-000024
AcceptEnv

#ESXI-65-000025
PermitTunnel no

#ESXI-65-000028
MaxSessions 1
